<div class="container-flow">
  <div class="row">
    <div class="col bg-primary">
      <button class="btn btn-link btn-lg text-white" routerLink="/">home</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="display-4"> {{ caption }}</h5>     
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- <router-outlet></router-outlet> -->
      <fg-app-kendo-ui-tabstrip></fg-app-kendo-ui-tabstrip>
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>  
</div>