<kendo-tabstrip tabPosition="top">

  <kendo-tabstrip-tab    
    *ngFor="let tab of tabsContent | slice:startTabIndex:endTabIndex; let index = index"
    [selected]="index === 0">
    <ng-template kendoTabTitle>
      {{ tab.caption }}
      <button 
        [disabled]="!tab.closable"
        (click)='closeTab(index)' 
        class="btn btn-link">
        <span class="k-icon k-i-close"></span>
      </button>
    </ng-template>
    <ng-template kendoTabContent>    
      {{ tab.content }}
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>

<hr>
<div class="container">
  <div class="row">
    <div class="col text-left">
      <button 
        type="button" 
        class="btn btn-info"
        (click)="previousPage()" 
        [disabled]="!existsPreviousPage()">
        Prev
      </button>&nbsp;
      <kendo-slider
        [showButtons]="false"
        [disabled]="false"
        [tickPlacement]="'none'"
        [max]="totalPages-1"
        [min]="-1"
        (valueChange)="sliderChange($event)"
        [value]="startTabIndex - 1">
      </kendo-slider>&nbsp;
      <button 
        type="button" 
        class="btn btn-info"
        (click)="nextPage()" 
        [disabled]="!existsNextPage()">
        Next
      </button>
    </div>
  </div>
</div>   