<kendo-tabstrip tabPosition="top">

  <kendo-tabstrip-tab    
    *ngFor="let tab of currentTabs; let index = index"
    [selected]="index === 0">
    <ng-template kendoTabTitle>
      {{ tab.caption }}
      <button 
        [disabled]="!tab.closable"
        (click)='closeTab(index)' 
        class="btn btn-link">
        <span class="k-icon k-i-close"></span>
      </button>
    </ng-template>
    <ng-template kendoTabContent>
    
      {{ tab.content }}
    </ng-template>
  </kendo-tabstrip-tab>

</kendo-tabstrip>

<hr>
<div class="container">
  <div class="row">
    <div class="col text-left">
      <button 
        type="button" 
        class="btn btn-info btn-sm"
        (click)="prevPage()" 
        [disabled]="currentPage === 0">
        Prev
      </button>
    </div>        
    <div class="col text-right">
      <button 
        type="button" 
        class="btn btn-info btn-sm"
        (click)="nextPage()" 
        [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
</div>  
